# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Sokoban/.vs/
Sokoban/Sokoban/.vs/
Sokoban/Sokoban/bin/
Sokoban/Sokoban/obj/
Sokoban/SokobanMapEdit/.vs/
Sokoban/SokobanMapEdit/bin/
Sokoban/SokobanMapEdit/obj/
Sokoban/Sokoban.Help/.vs/
Sokoban/Sokoban.Help/bin/
Sokoban/Sokoban.Help/obj/
Sokoban/material/